html, body {
	 font-size: 24px;
}
 body {
	 background-color: #CFF0FF;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 font-family: fantasy;
   font-weight: bold;
    height: 20vh;
	 position: center;
}

 .c-rainbow {
	 counter-reset: rainbow;
	 position: relative;
	 display: block;
	 list-style: none;
	 padding: 0;
	 margin: 0;
}
 .c-rainbow__layer {
	 color:white;
	 counter-increment: rainbow;
	 font-size: 3rem;
	 color: white;
	 text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 4px 4px 0 rgba(0, 0, 0, .2);
	 animation: rainbow 1.5s ease-in-out infinite;
}
 .c-rainbow__layer:nth-child(1) {
	 animation-delay: .1s;
   animation-name: rainbow;
	 left: 1px;
	 z-index: -10;
}
 .c-rainbow__layer:nth-child(2) {
	 animation-delay: .2s;
   animation-name: rainbow;
	 left: 2px;
	 z-index: -20;
}
 .c-rainbow__layer:nth-child(3) {
	 animation-delay: .3s;
   animation-name: rainbow;
	 left: 3px;
	 z-index: -30;
}
 .c-rainbow__layer:nth-child(4) {
	 animation-delay: .4s;
   animation-name: rainbow;
	 left: 4px;
	 z-index: -40;
}
 .c-rainbow__layer:nth-child(5) {
	 animation-delay: .5s;
   animation-name: rainbow;
	 left: 5px;
	 z-index: -50;
}
 .c-rainbow__layer:nth-child(6) {
	 animation-delay: .6s;
   animation-name: rainbow;
	 left: 6px;
	 z-index: -60;
}
 .c-rainbow__layer:nth-child(7) {
	 animation-delay: .7s;
   animation-name: rainbow;
	 left: 7px;
	 z-index: -70;
}
 .c-rainbow__layer:not(:first-child) {
	 position: absolute;
	 top: 0;
}
 .c-rainbow__layer--white {
	 color: white;
}
 .c-rainbow__layer--orange {
	 color: orange;
}
 .c-rainbow__layer--red {
	 color: red;
}
 .c-rainbow__layer--violet {
	 color: violet;
}
 .c-rainbow__layer--blue {
	 color: blue;
}
 .c-rainbow__layer--green {
	 color: green;
}
 .c-rainbow__layer--yellow {
	 color: yellow;
}
.title{
	 height: 20vh;
	 position: absolute;
}
.Team{
	display: block;
	text-align: center;
	margin-top: 40em;
	 font-size: 16px;
	 font-weight: normal;
	 background-color: white;
	 border-radius: 16px;
	 font-family: sans-serif;
	
}
.bold{
	font-weight: bold;
}
.nodec{
	text-decoration: none;
}
 @keyframes rainbow {
	 0%, 100% {
		 transform: translate(1rem);
	}
	 50% {
		 transform: translate(-1rem);
	}
}
 